extends layout

block content
  // banner start
  .blog_banner_area
    .container
      .row
        .col-12
          .page_title
            h2 ABOUT US
  // banner end
  // who start
  .who_area
    .container
      .row
        .col-lg-3.col-md-12.col-sm-12
          img(src='img/about.png', alt='')
        .col-lg-6.col-md-12.col-sm-12
          .single_banner_bottom.active.text-center
            .who_text.text-left
              h2 Who We Are?
              img(src='img/offers/best_sellers_1.png', alt='')
              p
                | Our SixerDev company has come up this year by us, 6 students from Kasetsart University, who love to play board games. When we are disappointed that sometimes there are games we want to play but we don't know where to find it.
              p
                | We decided that it was time for us to have an another alternative board game source. So we created this website that feature the Cash On delivery payment method.
              // <a class="read_more" href="#">READ MORE</a>
  // who end
