extends layout
block content
  // banner start
  .blog_banner_area
    .container
      .row
        .col-12
          .page_title
            h2 Login/Register
  // banner end
  // register start
  .register_area
    .container
      .row
        .col-md-6.col-sm-12
          .register_customer
            h2.register_heading Registered Customer
            p You can login with social networks
            .social_login.clearfix
              a.facebook(href='#')
                i.fa.fa-facebook
                | Sign in with Facebook
            form(action='#')
              p
                | Email Address
                span  * 
                br
                input(type='text')
              p
                | Password
                span  * 
                br
                input(type='text')
              //
                <div class="row">
                <p class="col-sm-6 col-xs-12">
                <input type="checkbox">Remember Me
                </p>
                <p class="col-sm-6 col-xs-12">
                <a href="#">Forgot your Password?</a>
                </p>
                </div>
              input(type='submit', value='LOGIN')
        .col-md-6.col-sm-12
          .register_customer
            h2.register_heading Creat a new account
            form(action='#')
              p
                | Username
                span  * 
                br
                input(type='text')
              p
                | Email
                span  * 
                br
                input(type='text')
              p
                | Password
                span  * 
                br
                input(type='text')
              p
                | Re-Password
                span  * 
                br
                input(type='text')
              input(type='submit', value='REGISTER')
  // register end
