extends layout

block content
  != messages('message', locals)
  if errors
    div(class='alert alert-danger', style='text-align: center;')
      each error, i in errors
        p #{error.msg}
  // banner start
  .blog_banner_area
    .container
      .row
        .col-12
          .page_title
            h2 Adding promotion 
  if user
    if user.isAdmin
      // banner end
      .register_area
        .container
          .row
            .col-md-3.col-sm-12
            .col-md-6.col-sm-12
              .register_customer
                h2.register_heading Add promotion
                form(method='POST', action='/promotion/add')
                  p
                    | Promotion Code
                    span  * 
                    br
                    input(name='name', type='text')
                  p
                    | Description
                    span  * 
                    br
                    textarea(name='description', type='text')
                  p
                    | Type
                    span  * 
                    br
                    select(name='type')
                      option(value='1') Get free items
                      option(value='2') Normal discount
                      option(value='3') Percent discount
                  p
                    | (Unused) For Product ID (Seperate by using "," for multiple items)
                    span  * 
                    br
                    input(name='productID', type='text')
                  p
                    | Get Free Product ID (Seperate by using "," for multiple items)
                    span  * 
                    br
                    input(name='getFreeProductID', type='text')
                  p
                    | Discount Value
                    span  * 
                    br
                    input(name='discountValue', type='number')

                  input(type='submit', value='SAVE PROMO')
    else
      .register_area
        .container
          .row
            .col-md-3.col-sm-12
            .col-md-6.col-sm-12
              .register_customer
                h2.register_heading Sorry! You are not supposed to be here.
  else
    .register_area
      .container
        .row
          .col-md-3.col-sm-12
          .col-md-6.col-sm-12
            .register_customer
              h2.register_heading Sorry! You are not supposed to be here.
