extends layout

block content
  // banner start
  .blog_banner_area
    .container
      .row
        .col-12
          .page_title
            h2 Admin Area
  if user
    if user.isAdmin
      // banner end
      .register_area
        .container
          .row
            .col-md-3.col-sm-12
            .col-md-6.col-sm-12
              .register_customer
                h2.register_heading Add products
                form(method='POST', action='/product/add')
                  p
                    | Name
                    span  * 
                    br
                    input(name='name', type='text')
                  p
                    | Description
                    span  * 
                    br
                    textarea(name='description', type='text')
                  p
                    | Minimum players
                    span  * 
                    br
                    input(name='player', type='number')
                  p
                    | Maximum players
                    span  * 
                    br
                    input(name='maxPlayer', type='number')
                  p
                    | Picture
                    span  * 
                    br
                    input(name='picture', type='text')
                  p
                    | Stock
                    span  * 
                    br
                    input(name='stock', type='number')
                  p
                    | Price
                    span  * 
                    br
                    input(name='price', type='number')
                  P
                    | Category
                    span  * 
                    br
                    input(name='category', type='text')
                  input(type='submit', value='ADD PRODUCT')
    else
      .register_area
        .container
          .row
            .col-md-3.col-sm-12
            .col-md-6.col-sm-12
              .register_customer
                h2.register_heading Sorry! You are not supposed to be here.
  else
    .register_area
      .container
        .row
          .col-md-3.col-sm-12
          .col-md-6.col-sm-12
            .register_customer
              h2.register_heading Sorry! You are not supposed to be here.
