extends layout

block content
  // slider start
  .slider-wrap
    .bend.niceties.preview-1
      #nivoslider.slides
        img(src='img/slider/slider-1_temp.png', alt='', title='#slider-direction-1')
        img(src='img/slider/slider-2_temp.png', alt='', title='#slider-direction-2')
      // direction 1
      #slider-direction-1.t-cn.slider-direction
        .slider-content.slider-text-1
          .wow.bounceInDown(data-wow-duration='3s', data-wow-delay='0.3s')
            h1.title1 new arrivals
        .slider-content.slider-text-2
          .wow.bounceInLeft(data-wow-duration='3s', data-wow-delay='1s')
            p discover our newest games
        .slider-content.slider-text-3
          .wow.bounceInUp(data-wow-duration='3s', data-wow-delay='1s')
            a.slider_button(href='') Shop Now 
      // direction 2
      #slider-direction-2.slider-direction
        .slider-content.slider-text-1
          .wow.bounceInDown(data-wow-duration='2s', data-wow-delay='0.3s')
            h1.title1 new arrivals
        .slider-content.slider-text-2
          .wow.bounceInRight(data-wow-duration='3s', data-wow-delay='1s')
            p discover our newest games
        .slider-content.slider-text-3
          .wow.bounceInUp(data-wow-duration='3s', data-wow-delay='1s')
            a.slider_button(href='#') Shop Now 
  // slider end
  // slider bottom start
  .slider_bottom_area
    .container
      .row
        .col-lg-4.col-md-4.col-sm-12
          .single_slider_bottom
            a(href='')
              img(src='img/slider_bottom/image-2018-09-17 (4).jpg', alt='')
            .slider_bottom_text
              a(href='')
                h3 BOARD GAMES
        .col-lg-4.col-md-4.col-sm-12
          .single_slider_bottom
            a(href='')
              img(src='img/slider_bottom/slider_bottom_2_temp.jpg', alt='')
            .slider_bottom_text
              a(href='')
                h3 CARD GAMES
        .col-lg-4.col-md-4.col-sm-12
          .single_slider_bottom
            a(href='')
              img(src='img/slider_bottom/slider_bottom_3_temp.jpg', alt='')
            .slider_bottom_text
              a(href='')
                h3 GAME ACCESS
  // bottom end
  // trending start
  section.trending
    .container
      .row
        .col
          .section_title.text-center
            h2 Trending Games
            img(src='img/section_title.png', alt='')
      .trend_tab
        .row
          .col
            .trend_menu.text-center
              ul.nav.justify-content-center(role='tablist')
                li.active(role='presentation')
                  a.active(href='#arrival', aria-controls='arrival', role='tab', data-toggle='tab') strategy
                li(role='presentation')
                  a(href='#men', aria-controls='men', role='tab', data-toggle='tab') party
                li(role='presentation')
                  a(href='#women', aria-controls='women', role='tab', data-toggle='tab') thematic
                li(role='presentation')
                  a(href='#accessories', aria-controls='accessories', role='tab', data-toggle='tab') family
                li(role='presentation')
                  a(href='#bag', aria-controls='bag', role='tab', data-toggle='tab') children
        .trend_content.tab-content
          #arrival.tab-pane.active.trend_item(role='tabpanel')
            .row
              .trend_item_slider
                .col-12
                  .single_trend
                    .single_trend_item
                      .single_trend_img
                        a(href='')
                          img.primary_image(src='img/trend/trend_stra1.jpg', alt='')
                          img.secondary_image(src='img/trend/trend_stra1.jpg', alt='')
                          span.blue -15%
                      .single_trend_label.text-center
                        a(href='#')
                          h3 Century: Golem Edition
                        h4
                          | ฿190.00 
                          del ฿260.00
                      .wish_icon_hover.text-center
                        ul
                          li.active
                            a(href='#', data-toggle='tooltip', title='Shopping Cart')
                              img(src='img/trend/shopping_cart.png', alt='cart')
                          li
                            a(href='#', data-toggle='tooltip', title='Like it!')
                              img(src='img/trend/heart.png', alt='')
                          li
                            a(href='#', data-toggle='tooltip', title='Compage')
                              i.fa.fa-bar-chart
                          li
                            a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              img(src='img/trend/eye.png', alt='')
                .col-12
                  .single_trend
                    .single_trend_item
                      .single_trend_img
                        a(href='#')
                          img.primary_image(src='img/trend/trend_stra2.jpg', alt='')
                          img.secondary_image(src='img/trend/trend_stra2.jpg', alt='')
                      .single_trend_label.text-center
                        a(href='#')
                          h3 Anachrony
                        h4 ฿120.00
                      .wish_icon_hover.text-center
                        ul
                          li.active
                            a(href='#', data-toggle='tooltip', title='Shopping Cart')
                              img(src='img/trend/shopping_cart.png', alt='cart')
                          li
                            a(href='#', data-toggle='tooltip', title='Like it!')
                              img(src='img/trend/heart.png', alt='')
                          li
                            a(href='#', data-toggle='tooltip', title='Compage')
                              i.fa.fa-bar-chart
                          li
                            a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              img(src='img/trend/eye.png', alt='')
                .col-12
                  .single_trend
                    .single_trend_item
                      .single_trend_img
                        a(href='#')
                          img.primary_image(src='img/trend/trend_stra3.jpg', alt='')
                          img.secondary_image(src='img/trend/trend_stra3.jpg', alt='')
                          span.purple HOT
                      .single_trend_label.text-center
                        a(href='#')
                          h3 Rising Sun
                        h4 ฿190.00
                      .wish_icon_hover.text-center
                        ul
                          li.active
                            a(href='#', data-toggle='tooltip', title='Shopping Cart')
                              img(src='img/trend/shopping_cart.png', alt='cart')
                          li
                            a(href='#', data-toggle='tooltip', title='Like it!')
                              img(src='img/trend/heart.png', alt='')
                          li
                            a(href='#', data-toggle='tooltip', title='Compage')
                              i.fa.fa-bar-chart
                          li
                            a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              img(src='img/trend/eye.png', alt='')
                .col-12
                  .single_trend
                    .single_trend_item
                      .single_trend_img
                        a(href='#')
                          img.primary_image(src='img/trend/trend_stra4.jpg', alt='')
                          img.secondary_image(src='img/trend/trend_stra4.jpg', alt='')
                      .single_trend_label.text-center
                        a(href='#')
                          h3 Spirit Island
                        h4 ฿310.00
                      .wish_icon_hover.text-center
                        ul
                          li.active
                            a(href='#', data-toggle='tooltip', title='Shopping Cart')
                              img(src='img/trend/shopping_cart.png', alt='cart')
                          li
                            a(href='#', data-toggle='tooltip', title='Like it!')
                              img(src='img/trend/heart.png', alt='')
                          li
                            a(href='#', data-toggle='tooltip', title='Compage')
                              i.fa.fa-bar-chart
                          li
                            a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              img(src='img/trend/eye.png', alt='')
                .col-12
                  .single_trend
                    .single_trend_item
                      .single_trend_img
                        a(href='#')
                          img.primary_image(src='img/trend/trend_stra5.jpg', alt='')
                          img.secondary_image(src='img/trend/trend_stra5.jpg', alt='')
                          span.blue -15%
                      .single_trend_label.text-center
                        a(href='#')
                          h3 Unearth
                        h4
                          | ฿190.00 
                          del ฿260.00
                      .wish_icon_hover.text-center
                        ul
                          li.active
                            a(href='#', data-toggle='tooltip', title='Shopping Cart')
                              img(src='img/trend/shopping_cart.png', alt='cart')
                          li
                            a(href='#', data-toggle='tooltip', title='Like it!')
                              img(src='img/trend/heart.png', alt='')
                          li
                            a(href='#', data-toggle='tooltip', title='Compage')
                              i.fa.fa-bar-chart
                          li
                            a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              img(src='img/trend/eye.png', alt='')
                .col-12
                  .single_trend
                    .single_trend_item
                      .single_trend_img
                        a(href='#')
                          img.primary_image(src='img/trend/trend_stra6.jpg', alt='')
                          img.secondary_image(src='img/trend/trend_stra6.jpg', alt='')
                      .single_trend_label.text-center
                        a(href='#')
                          h3 Abyss
                        h4 ฿120.00
                      .wish_icon_hover.text-center
                        ul
                          li.active
                            a(href='#', data-toggle='tooltip', title='Shopping Cart')
                              img(src='img/trend/shopping_cart.png', alt='cart')
                          li
                            a(href='#', data-toggle='tooltip', title='Like it!')
                              img(src='img/trend/heart.png', alt='')
                          li
                            a(href='#', data-toggle='tooltip', title='Compage')
                              i.fa.fa-bar-chart
                          li
                            a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              img(src='img/trend/eye.png', alt='')
                .col-12
                  .single_trend
                    .single_trend_item
                      .single_trend_img
                        a(href='#')
                          img.primary_image(src='img/trend/trend_stra7.jpg', alt='')
                          img.secondary_image(src='img/trend/trend_stra7.jpg', alt='')
                          span.purple HOT
                      .single_trend_label.text-center
                        a(href='#')
                          h3 Mechs vs. Minions
                        h4 ฿190.00
                      .wish_icon_hover.text-center
                        ul
                          li.active
                            a(href='#', data-toggle='tooltip', title='Shopping Cart')
                              img(src='img/trend/shopping_cart.png', alt='cart')
                          li
                            a(href='#', data-toggle='tooltip', title='Like it!')
                              img(src='img/trend/heart.png', alt='')
                          li
                            a(href='#', data-toggle='tooltip', title='Compage')
                              i.fa.fa-bar-chart
                          li
                            a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              img(src='img/trend/eye.png', alt='')
                .col-12
                  .single_trend
                    .single_trend_item
                      .single_trend_img
                        a(href='#')
                          img.primary_image(src='img/trend/trend_stra8.jpg', alt='')
                          img.secondary_image(src='img/trend/trend_stra8.jpg', alt='')
                      .single_trend_label.text-center
                        a(href='#')
                          h3 Too Many Bones
                        h4 ฿310.00
                      .wish_icon_hover.text-center
                        ul
                          li.active
                            a(href='#', data-toggle='tooltip', title='Shopping Cart')
                              img(src='img/trend/shopping_cart.png', alt='cart')
                          li
                            a(href='#', data-toggle='tooltip', title='Like it!')
                              img(src='img/trend/heart.png', alt='')
                          li
                            a(href='#', data-toggle='tooltip', title='Compage')
                              i.fa.fa-bar-chart
                          li
                            a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              img(src='img/trend/eye.png', alt='')
          #men.tab-pane.trend_item(role='tabpanel')
            .row
              .trend_item_slider
                .col-12
                  .single_trend
                    .single_trend_item
                      .single_trend_img
                        a(href='#')
                          img.primary_image(src='img/trend/trend_par1.jpg', alt='')
                          img.secondary_image(src='img/trend/trend_par1.jpg', alt='')
                          span.purple HOT
                      .single_trend_label.text-center
                        a(href='#')
                          h3 Codenames
                        h4 ฿190.00
                      .wish_icon_hover.text-center
                        ul
                          li.active
                            a(href='#', data-toggle='tooltip', title='Shopping Cart')
                              img(src='img/trend/shopping_cart.png', alt='cart')
                          li
                            a(href='#', data-toggle='tooltip', title='Like it!')
                              img(src='img/trend/heart.png', alt='')
                          li
                            a(href='#', data-toggle='tooltip', title='Compage')
                              i.fa.fa-bar-chart
                          li
                            a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              img(src='img/trend/eye.png', alt='')
                .col-12
                  .single_trend
                    .single_trend_item
                      .single_trend_img
                        a(href='#')
                          img.primary_image(src='img/trend/trend_par2.jpg', alt='')
                          img.secondary_image(src='img/trend/trend_par2.jpg', alt='')
                          span.purple HOT
                      .single_trend_label.text-center
                        a(href='#')
                          h3 Ultimate Werewolf: Deluxe Edition
                        h4 ฿190.00
                      .wish_icon_hover.text-center
                        ul
                          li.active
                            a(href='#', data-toggle='tooltip', title='Shopping Cart')
                              img(src='img/trend/shopping_cart.png', alt='cart')
                          li
                            a(href='#', data-toggle='tooltip', title='Like it!')
                              img(src='img/trend/heart.png', alt='')
                          li
                            a(href='#', data-toggle='tooltip', title='Compage')
                              i.fa.fa-bar-chart
                          li
                            a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              img(src='img/trend/eye.png', alt='')
                .col-12
                  .single_trend
                    .single_trend_item
                      .single_trend_img
                        a(href='#')
                          img.primary_image(src='img/trend/trend_par3.jpg', alt='')
                          img.secondary_image(src='img/trend/trend_par3.jpg', alt='')
                          span.purple HOT
                      .single_trend_label.text-center
                        a(href='#')
                          h3 The Mind
                        h4 ฿190.00
                      .wish_icon_hover.text-center
                        ul
                          li.active
                            a(href='#', data-toggle='tooltip', title='Shopping Cart')
                              img(src='img/trend/shopping_cart.png', alt='cart')
                          li
                            a(href='#', data-toggle='tooltip', title='Like it!')
                              img(src='img/trend/heart.png', alt='')
                          li
                            a(href='#', data-toggle='tooltip', title='Compage')
                              i.fa.fa-bar-chart
                          li
                            a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              img(src='img/trend/eye.png', alt='')
                .col-12
                  .single_trend
                    .single_trend_item
                      .single_trend_img
                        a(href='#')
                          img.primary_image(src='img/trend/trend_par4.jpg', alt='')
                          img.secondary_image(src='img/trend/trend_par4.jpg', alt='')
                          span.purple HOT
                      .single_trend_label.text-center
                        a(href='#')
                          h3 CS Files แฟ้มคดีปริศนา
                        h4 ฿190.00
                      .wish_icon_hover.text-center
                        ul
                          li.active
                            a(href='#', data-toggle='tooltip', title='Shopping Cart')
                              img(src='img/trend/shopping_cart.png', alt='cart')
                          li
                            a(href='#', data-toggle='tooltip', title='Like it!')
                              img(src='img/trend/heart.png', alt='')
                          li
                            a(href='#', data-toggle='tooltip', title='Compage')
                              i.fa.fa-bar-chart
                          li
                            a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              img(src='img/trend/eye.png', alt='')
                .col-12
                  .single_trend
                    .single_trend_item
                      .single_trend_img
                        a(href='#')
                          img.primary_image(src='img/trend/trend_par5.jpg', alt='')
                          img.secondary_image(src='img/trend/trend_par5.jpg', alt='')
                          span.purple HOT
                      .single_trend_label.text-center
                        a(href='#')
                          h3 Two Rooms and a Boom
                        h4 ฿190.00
                      .wish_icon_hover.text-center
                        ul
                          li.active
                            a(href='#', data-toggle='tooltip', title='Shopping Cart')
                              img(src='img/trend/shopping_cart.png', alt='cart')
                          li
                            a(href='#', data-toggle='tooltip', title='Like it!')
                              img(src='img/trend/heart.png', alt='')
                          li
                            a(href='#', data-toggle='tooltip', title='Compage')
                              i.fa.fa-bar-chart
                          li
                            a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              img(src='img/trend/eye.png', alt='')
                .col-12
                  .single_trend
                    .single_trend_item
                      .single_trend_img
                        a(href='#')
                          img.primary_image(src='img/trend/trend_par6.jpg', alt='')
                          img.secondary_image(src='img/trend/trend_par6.jpg', alt='')
                          span.purple HOT
                      .single_trend_label.text-center
                        a(href='#')
                          h3 Exploding Kittens
                        h4 ฿190.00
                      .wish_icon_hover.text-center
                        ul
                          li.active
                            a(href='#', data-toggle='tooltip', title='Shopping Cart')
                              img(src='img/trend/shopping_cart.png', alt='cart')
                          li
                            a(href='#', data-toggle='tooltip', title='Like it!')
                              img(src='img/trend/heart.png', alt='')
                          li
                            a(href='#', data-toggle='tooltip', title='Compage')
                              i.fa.fa-bar-chart
                          li
                            a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              img(src='img/trend/eye.png', alt='')
                .col-12
                  .single_trend
                    .single_trend_item
                      .single_trend_img
                        a(href='#')
                          img.primary_image(src='img/trend/trend_par7.jpg', alt='')
                          img.secondary_image(src='img/trend/trend_par7.jpg', alt='')
                          span.purple HOT
                      .single_trend_label.text-center
                        a(href='#')
                          h3 Spyfall 2
                        h4 ฿190.00
                      .wish_icon_hover.text-center
                        ul
                          li.active
                            a(href='#', data-toggle='tooltip', title='Shopping Cart')
                              img(src='img/trend/shopping_cart.png', alt='cart')
                          li
                            a(href='#', data-toggle='tooltip', title='Like it!')
                              img(src='img/trend/heart.png', alt='')
                          li
                            a(href='#', data-toggle='tooltip', title='Compage')
                              i.fa.fa-bar-chart
                          li
                            a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              img(src='img/trend/eye.png', alt='')
                .col-12
                  .single_trend
                    .single_trend_item
                      .single_trend_img
                        a(href='#')
                          img.primary_image(src='img/trend/trend_par8.jpg', alt='')
                          img.secondary_image(src='img/trend/trend_par8.jpg', alt='')
                          span.purple HOT
                      .single_trend_label.text-center
                        a(href='#')
                          h3 When I dream นักท่องฝัน
                        h4 ฿190.00
                      .wish_icon_hover.text-center
                        ul
                          li.active
                            a(href='#', data-toggle='tooltip', title='Shopping Cart')
                              img(src='img/trend/shopping_cart.png', alt='cart')
                          li
                            a(href='#', data-toggle='tooltip', title='Like it!')
                              img(src='img/trend/heart.png', alt='')
                          li
                            a(href='#', data-toggle='tooltip', title='Compage')
                              i.fa.fa-bar-chart
                          li
                            a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              img(src='img/trend/eye.png', alt='')
          #women.tab-pane.trend_item(role='tabpanel')
            .row
              .trend_item_slider
                .col-12
                  .single_trend
                    .single_trend_item
                      .single_trend_img
                        a(href='#')
                          img.primary_image(src='img/trend/trend_the1.jpg', alt='')
                          img.secondary_image(src='img/trend/trend_the1.jpg', alt='')
                      .single_trend_label.text-center
                        a(href='#')
                          h3 The 7th Continent
                        h4 ฿310.00
                      .wish_icon_hover.text-center
                        ul
                          li.active
                            a(href='#', data-toggle='tooltip', title='Shopping Cart')
                              img(src='img/trend/shopping_cart.png', alt='cart')
                          li
                            a(href='#', data-toggle='tooltip', title='Like it!')
                              img(src='img/trend/heart.png', alt='')
                          li
                            a(href='#', data-toggle='tooltip', title='Compage')
                              i.fa.fa-bar-chart
                          li
                            a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              img(src='img/trend/eye.png', alt='')
                .col-12
                  .single_trend
                    .single_trend_item
                      .single_trend_img
                        a(href='#')
                          img.primary_image(src='img/trend/trend_the2.jpg', alt='')
                          img.secondary_image(src='img/trend/trend_the2.jpg', alt='')
                      .single_trend_label.text-center
                        a(href='#')
                          h3 Gloomhaven
                        h4 ฿310.00
                      .wish_icon_hover.text-center
                        ul
                          li.active
                            a(href='#', data-toggle='tooltip', title='Shopping Cart')
                              img(src='img/trend/shopping_cart.png', alt='cart')
                          li
                            a(href='#', data-toggle='tooltip', title='Like it!')
                              img(src='img/trend/heart.png', alt='')
                          li
                            a(href='#', data-toggle='tooltip', title='Compage')
                              i.fa.fa-bar-chart
                          li
                            a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              img(src='img/trend/eye.png', alt='')
                .col-12
                  .single_trend
                    .single_trend_item
                      .single_trend_img
                        a(href='#')
                          img.primary_image(src='img/trend/trend_the3.jpg', alt='')
                          img.secondary_image(src='img/trend/trend_the3.jpg', alt='')
                      .single_trend_label.text-center
                        a(href='#')
                          h3 This War Of Mine: The Board Game
                        h4 ฿310.00
                      .wish_icon_hover.text-center
                        ul
                          li.active
                            a(href='#', data-toggle='tooltip', title='Shopping Cart')
                              img(src='img/trend/shopping_cart.png', alt='cart')
                          li
                            a(href='#', data-toggle='tooltip', title='Like it!')
                              img(src='img/trend/heart.png', alt='')
                          li
                            a(href='#', data-toggle='tooltip', title='Compage')
                              i.fa.fa-bar-chart
                          li
                            a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              img(src='img/trend/eye.png', alt='')
                .col-12
                  .single_trend
                    .single_trend_item
                      .single_trend_img
                        a(href='#')
                          img.primary_image(src='img/trend/trend_the4.jpg', alt='')
                          img.secondary_image(src='img/trend/trend_the4.jpg', alt='')
                      .single_trend_label.text-center
                        a(href='#')
                          h3 Near and Far
                        h4 ฿310.00
                      .wish_icon_hover.text-center
                        ul
                          li.active
                            a(href='#', data-toggle='tooltip', title='Shopping Cart')
                              img(src='img/trend/shopping_cart.png', alt='cart')
                          li
                            a(href='#', data-toggle='tooltip', title='Like it!')
                              img(src='img/trend/heart.png', alt='')
                          li
                            a(href='#', data-toggle='tooltip', title='Compage')
                              i.fa.fa-bar-chart
                          li
                            a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              img(src='img/trend/eye.png', alt='')
                .col-12
                  .single_trend
                    .single_trend_item
                      .single_trend_img
                        a(href='#')
                          img.primary_image(src='img/trend/trend_the5.jpg', alt='')
                          img.secondary_image(src='img/trend/trend_the5.jpg', alt='')
                      .single_trend_label.text-center
                        a(href='#')
                          h3 Stuffed Fables
                        h4 ฿310.00
                      .wish_icon_hover.text-center
                        ul
                          li.active
                            a(href='#', data-toggle='tooltip', title='Shopping Cart')
                              img(src='img/trend/shopping_cart.png', alt='cart')
                          li
                            a(href='#', data-toggle='tooltip', title='Like it!')
                              img(src='img/trend/heart.png', alt='')
                          li
                            a(href='#', data-toggle='tooltip', title='Compage')
                              i.fa.fa-bar-chart
                          li
                            a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              img(src='img/trend/eye.png', alt='')
                .col-12
                  .single_trend
                    .single_trend_item
                      .single_trend_img
                        a(href='#')
                          img.primary_image(src='img/trend/trend_the6.jpg', alt='')
                          img.secondary_image(src='img/trend/trend_the6.jpg', alt='')
                      .single_trend_label.text-center
                        a(href='#')
                          h3 Zombicide: Black Plague
                        h4 ฿310.00
                      .wish_icon_hover.text-center
                        ul
                          li.active
                            a(href='#', data-toggle='tooltip', title='Shopping Cart')
                              img(src='img/trend/shopping_cart.png', alt='cart')
                          li
                            a(href='#', data-toggle='tooltip', title='Like it!')
                              img(src='img/trend/heart.png', alt='')
                          li
                            a(href='#', data-toggle='tooltip', title='Compare')
                              i.fa.fa-bar-chart
                          li
                            a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              img(src='img/trend/eye.png', alt='')
                .col-12
                  .single_trend
                    .single_trend_item
                      .single_trend_img
                        a(href='#')
                          img.primary_image(src='img/trend/trend_the7.jpg', alt='')
                          img.secondary_image(src='img/trend/trend_the7.jpg', alt='')
                      .single_trend_label.text-center
                        a(href='#')
                          h3 T.I.M.E Stories
                        h4 ฿310.00
                      .wish_icon_hover.text-center
                        ul
                          li.active
                            a(href='#', data-toggle='tooltip', title='Shopping Cart')
                              img(src='img/trend/shopping_cart.png', alt='cart')
                          li
                            a(href='#', data-toggle='tooltip', title='Like it!')
                              img(src='img/trend/heart.png', alt='')
                          li
                            a(href='#', data-toggle='tooltip', title='Compare')
                              i.fa.fa-bar-chart
                          li
                            a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              img(src='img/trend/eye.png', alt='')
                .col-12
                  .single_trend
                    .single_trend_item
                      .single_trend_img
                        a(href='#')
                          img.primary_image(src='img/trend/trend_the8.jpg', alt='')
                          img.secondary_image(src='img/trend/trend_the8.jpg', alt='')
                      .single_trend_label.text-center
                        a(href='#')
                          h3 Once Upon A Time
                        h4 ฿310.00
                      .wish_icon_hover.text-center
                        ul
                          li.active
                            a(href='#', data-toggle='tooltip', title='Shopping Cart')
                              img(src='img/trend/shopping_cart.png', alt='cart')
                          li
                            a(href='#', data-toggle='tooltip', title='Like it!')
                              img(src='img/trend/heart.png', alt='')
                          li
                            a(href='#', data-toggle='tooltip', title='Compare')
                              i.fa.fa-bar-chart
                          li
                            a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              img(src='img/trend/eye.png', alt='')
          #accessories.tab-pane.trend_item(role='tabpanel')
            .row
              .trend_item_slider
                .col-12
                  .single_trend
                    .single_trend_item
                      .single_trend_img
                        a(href='#')
                          img.primary_image(src='img/trend/trend_fam1.jpg', alt='')
                          img.secondary_image(src='img/trend/trend_fam1.jpg', alt='')
                          span.blue -15%
                      .single_trend_label.text-center
                        a(href='#')
                          h3 Santorini
                        h4
                          | ฿190.00 
                          del ฿260.00
                      .wish_icon_hover.text-center
                        ul
                          li.active
                            a(href='#', data-toggle='tooltip', title='Shopping Cart')
                              img(src='img/trend/shopping_cart.png', alt='cart')
                          li
                            a(href='#', data-toggle='tooltip', title='Like it!')
                              img(src='img/trend/heart.png', alt='')
                          li
                            a(href='#', data-toggle='tooltip', title='Compare')
                              i.fa.fa-bar-chart
                          li
                            a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              img(src='img/trend/eye.png', alt='')
                .col-12
                  .single_trend
                    .single_trend_item
                      .single_trend_img
                        a(href='#')
                          img.primary_image(src='img/trend/trend_fam2.jpg', alt='')
                          img.secondary_image(src='img/trend/trend_fam2.jpg', alt='')
                          span.blue -15%
                      .single_trend_label.text-center
                        a(href='#')
                          h3 Grimm Forest
                        h4
                          | ฿190.00 
                          del ฿260.00
                      .wish_icon_hover.text-center
                        ul
                          li.active
                            a(href='#', data-toggle='tooltip', title='Shopping Cart')
                              img(src='img/trend/shopping_cart.png', alt='cart')
                          li
                            a(href='#', data-toggle='tooltip', title='Like it!')
                              img(src='img/trend/heart.png', alt='')
                          li
                            a(href='#', data-toggle='tooltip', title='Compare')
                              i.fa.fa-bar-chart
                          li
                            a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              img(src='img/trend/eye.png', alt='')
                .col-12
                  .single_trend
                    .single_trend_item
                      .single_trend_img
                        a(href='#')
                          img.primary_image(src='img/trend/trend_fam3.jpg', alt='')
                          img.secondary_image(src='img/trend/trend_fam3.jpg', alt='')
                          span.blue -15%
                      .single_trend_label.text-center
                        a(href='#')
                          h3 Dice Forge
                        h4
                          | ฿190.00 
                          del ฿260.00
                      .wish_icon_hover.text-center
                        ul
                          li.active
                            a(href='#', data-toggle='tooltip', title='Shopping Cart')
                              img(src='img/trend/shopping_cart.png', alt='cart')
                          li
                            a(href='#', data-toggle='tooltip', title='Like it!')
                              img(src='img/trend/heart.png', alt='')
                          li
                            a(href='#', data-toggle='tooltip', title='Compare')
                              i.fa.fa-bar-chart
                          li
                            a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              img(src='img/trend/eye.png', alt='')
                .col-12
                  .single_trend
                    .single_trend_item
                      .single_trend_img
                        a(href='#')
                          img.primary_image(src='img/trend/trend_fam4.jpg', alt='')
                          img.secondary_image(src='img/trend/trend_fam4.jpg', alt='')
                          span.blue -15%
                      .single_trend_label.text-center
                        a(href='#')
                          h3 Machi Koro
                        h4
                          | ฿190.00 
                          del ฿260.00
                      .wish_icon_hover.text-center
                        ul
                          li.active
                            a(href='#', data-toggle='tooltip', title='Shopping Cart')
                              img(src='img/trend/shopping_cart.png', alt='cart')
                          li
                            a(href='#', data-toggle='tooltip', title='Like it!')
                              img(src='img/trend/heart.png', alt='')
                          li
                            a(href='#', data-toggle='tooltip', title='Compare')
                              i.fa.fa-bar-chart
                          li
                            a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              img(src='img/trend/eye.png', alt='')
                .col-12
                  .single_trend
                    .single_trend_item
                      .single_trend_img
                        a(href='#')
                          img.primary_image(src='img/trend/trend_fam5.jpg', alt='')
                          img.secondary_image(src='img/trend/trend_fam5.jpg', alt='')
                          span.blue -15%
                      .single_trend_label.text-center
                        a(href='#')
                          h3 Tokaido
                        h4
                          | ฿190.00 
                          del ฿260.00
                      .wish_icon_hover.text-center
                        ul
                          li.active
                            a(href='#', data-toggle='tooltip', title='Shopping Cart')
                              img(src='img/trend/shopping_cart.png', alt='cart')
                          li
                            a(href='#', data-toggle='tooltip', title='Like it!')
                              img(src='img/trend/heart.png', alt='')
                          li
                            a(href='#', data-toggle='tooltip', title='Compare')
                              i.fa.fa-bar-chart
                          li
                            a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              img(src='img/trend/eye.png', alt='')
                .col-12
                  .single_trend
                    .single_trend_item
                      .single_trend_img
                        a(href='#')
                          img.primary_image(src='img/trend/trend_fam6.jpg', alt='')
                          img.secondary_image(src='img/trend/trend_fam6.jpg', alt='')
                          span.blue -15%
                      .single_trend_label.text-center
                        a(href='#')
                          h3 Potion Explosion
                        h4
                          | ฿190.00 
                          del ฿260.00
                      .wish_icon_hover.text-center
                        ul
                          li.active
                            a(href='#', data-toggle='tooltip', title='Shopping Cart')
                              img(src='img/trend/shopping_cart.png', alt='cart')
                          li
                            a(href='#', data-toggle='tooltip', title='Like it!')
                              img(src='img/trend/heart.png', alt='')
                          li
                            a(href='#', data-toggle='tooltip', title='Compare')
                              i.fa.fa-bar-chart
                          li
                            a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              img(src='img/trend/eye.png', alt='')
                .col-12
                  .single_trend
                    .single_trend_item
                      .single_trend_img
                        a(href='#')
                          img.primary_image(src='img/trend/trend_fam7.jpg', alt='')
                          img.secondary_image(src='img/trend/trend_fam7.jpg', alt='')
                          span.blue -15%
                      .single_trend_label.text-center
                        a(href='#')
                          h3 Bunny Kingdom
                        h4
                          | ฿190.00 
                          del ฿260.00
                      .wish_icon_hover.text-center
                        ul
                          li.active
                            a(href='#', data-toggle='tooltip', title='Shopping Cart')
                              img(src='img/trend/shopping_cart.png', alt='cart')
                          li
                            a(href='#', data-toggle='tooltip', title='Like it!')
                              img(src='img/trend/heart.png', alt='')
                          li
                            a(href='#', data-toggle='tooltip', title='Compare')
                              i.fa.fa-bar-chart
                          li
                            a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              img(src='img/trend/eye.png', alt='')
                .col-12
                  .single_trend
                    .single_trend_item
                      .single_trend_img
                        a(href='#')
                          img.primary_image(src='img/trend/trend_fam8.jpg', alt='')
                          img.secondary_image(src='img/trend/trend_fam8.jpg', alt='')
                          span.blue -15%
                      .single_trend_label.text-center
                        a(href='#')
                          h3 Photosynthesis
                        h4
                          | ฿190.00 
                          del ฿260.00
                      .wish_icon_hover.text-center
                        ul
                          li.active
                            a(href='#', data-toggle='tooltip', title='Shopping Cart')
                              img(src='img/trend/shopping_cart.png', alt='cart')
                          li
                            a(href='#', data-toggle='tooltip', title='Like it!')
                              img(src='img/trend/heart.png', alt='')
                          li
                            a(href='#', data-toggle='tooltip', title='Compare')
                              i.fa.fa-bar-chart
                          li
                            a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              img(src='img/trend/eye.png', alt='')
          #bag.tab-pane.trend_item(role='tabpanel')
            .row
              .trend_item_slider
                .col-12
                  .single_trend
                    .single_trend_item
                      .single_trend_img
                        a(href='#')
                          img.primary_image(src='img/trend/trend_chi1.jpg', alt='')
                          img.secondary_image(src='img/trend/trend_chi1.jpg', alt='')
                          span.blue -15%
                      .single_trend_label.text-center
                        a(href='#')
                          h3 Croak!
                        h4
                          | ฿190.00 
                          del ฿260.00
                      .wish_icon_hover.text-center
                        ul
                          li.active
                            a(href='#', data-toggle='tooltip', title='Shopping Cart')
                              img(src='img/trend/shopping_cart.png', alt='cart')
                          li
                            a(href='#', data-toggle='tooltip', title='Like it!')
                              img(src='img/trend/heart.png', alt='')
                          li
                            a(href='#', data-toggle='tooltip', title='Compare')
                              i.fa.fa-bar-chart
                          li
                            a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              img(src='img/trend/eye.png', alt='')
                .col-12
                  .single_trend
                    .single_trend_item
                      .single_trend_img
                        a(href='#')
                          img.primary_image(src='img/trend/trend_chi2.jpg', alt='')
                          img.secondary_image(src='img/trend/trend_chi2.jpg', alt='')
                          span.blue -15%
                      .single_trend_label.text-center
                        a(href='#')
                          h3 Gangsi โปเย โปโลเย
                        h4
                          | ฿190.00 
                          del ฿260.00
                      .wish_icon_hover.text-center
                        ul
                          li.active
                            a(href='#', data-toggle='tooltip', title='Shopping Cart')
                              img(src='img/trend/shopping_cart.png', alt='cart')
                          li
                            a(href='#', data-toggle='tooltip', title='Like it!')
                              img(src='img/trend/heart.png', alt='')
                          li
                            a(href='#', data-toggle='tooltip', title='Compare')
                              i.fa.fa-bar-chart
                          li
                            a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              img(src='img/trend/eye.png', alt='')
                .col-12
                  .single_trend
                    .single_trend_item
                      .single_trend_img
                        a(href='#')
                          img.primary_image(src='img/trend/trend_chi3.jpg', alt='')
                          img.secondary_image(src='img/trend/trend_chi3.jpg', alt='')
                          span.blue -15%
                      .single_trend_label.text-center
                        a(href='#')
                          h3 Gloobz
                        h4
                          | ฿190.00 
                          del ฿260.00
                      .wish_icon_hover.text-center
                        ul
                          li.active
                            a(href='#', data-toggle='tooltip', title='Shopping Cart')
                              img(src='img/trend/shopping_cart.png', alt='cart')
                          li
                            a(href='#', data-toggle='tooltip', title='Like it!')
                              img(src='img/trend/heart.png', alt='')
                          li
                            a(href='#', data-toggle='tooltip', title='Compare')
                              i.fa.fa-bar-chart
                          li
                            a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              img(src='img/trend/eye.png', alt='')
                .col-12
                  .single_trend
                    .single_trend_item
                      .single_trend_img
                        a(href='#')
                          img.primary_image(src='img/trend/trend_chi4.jpg', alt='')
                          img.secondary_image(src='img/trend/trend_chi4.jpg', alt='')
                          span.blue -15%
                      .single_trend_label.text-center
                        a(href='#')
                          h3 My Little Scythe
                        h4
                          | ฿190.00 
                          del ฿260.00
                      .wish_icon_hover.text-center
                        ul
                          li.active
                            a(href='#', data-toggle='tooltip', title='Shopping Cart')
                              img(src='img/trend/shopping_cart.png', alt='cart')
                          li
                            a(href='#', data-toggle='tooltip', title='Like it!')
                              img(src='img/trend/heart.png', alt='')
                          li
                            a(href='#', data-toggle='tooltip', title='Compare')
                              i.fa.fa-bar-chart
                          li
                            a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              img(src='img/trend/eye.png', alt='')
                .col-12
                  .single_trend
                    .single_trend_item
                      .single_trend_img
                        a(href='#')
                          img.primary_image(src='img/trend/trend_chi5.jpg', alt='')
                          img.secondary_image(src='img/trend/trend_chi5.jpg', alt='')
                          span.blue -15%
                      .single_trend_label.text-center
                        a(href='#')
                          h3 Spooky Stairs
                        h4
                          | ฿190.00 
                          del ฿260.00
                      .wish_icon_hover.text-center
                        ul
                          li.active
                            a(href='#', data-toggle='tooltip', title='Shopping Cart')
                              img(src='img/trend/shopping_cart.png', alt='cart')
                          li
                            a(href='#', data-toggle='tooltip', title='Like it!')
                              img(src='img/trend/heart.png', alt='')
                          li
                            a(href='#', data-toggle='tooltip', title='Compare')
                              i.fa.fa-bar-chart
                          li
                            a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              img(src='img/trend/eye.png', alt='')
                .col-12
                  .single_trend
                    .single_trend_item
                      .single_trend_img
                        a(href='#')
                          img.primary_image(src='img/trend/trend_chi6.jpg', alt='')
                          img.secondary_image(src='img/trend/trend_chi6.jpg', alt='')
                          span.blue -15%
                      .single_trend_label.text-center
                        a(href='#')
                          h3 ICECOOL
                        h4
                          | ฿190.00 
                          del ฿260.00
                      .wish_icon_hover.text-center
                        ul
                          li.active
                            a(href='#', data-toggle='tooltip', title='Shopping Cart')
                              img(src='img/trend/shopping_cart.png', alt='cart')
                          li
                            a(href='#', data-toggle='tooltip', title='Like it!')
                              img(src='img/trend/heart.png', alt='')
                          li
                            a(href='#', data-toggle='tooltip', title='Compare')
                              i.fa.fa-bar-chart
                          li
                            a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              img(src='img/trend/eye.png', alt='')
                .col-12
                  .single_trend
                    .single_trend_item
                      .single_trend_img
                        a(href='#')
                          img.primary_image(src='img/trend/trend_chi7.jpg', alt='')
                          img.secondary_image(src='img/trend/trend_chi7.jpg', alt='')
                          span.blue -15%
                      .single_trend_label.text-center
                        a(href='#')
                          h3 Outfoxed!
                        h4
                          | ฿190.00 
                          del ฿260.00
                      .wish_icon_hover.text-center
                        ul
                          li.active
                            a(href='#', data-toggle='tooltip', title='Shopping Cart')
                              img(src='img/trend/shopping_cart.png', alt='cart')
                          li
                            a(href='#', data-toggle='tooltip', title='Like it!')
                              img(src='img/trend/heart.png', alt='')
                          li
                            a(href='#', data-toggle='tooltip', title='Compare')
                              i.fa.fa-bar-chart
                          li
                            a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              img(src='img/trend/eye.png', alt='')
                .col-12
                  .single_trend
                    .single_trend_item
                      .single_trend_img
                        a(href='#')
                          img.primary_image(src='img/trend/trend_chi8.jpg', alt='')
                          img.secondary_image(src='img/trend/trend_chi8.jpg', alt='')
                          span.blue -15%
                      .single_trend_label.text-center
                        a(href='#')
                          h3 Leo
                        h4
                          | ฿190.00 
                          del ฿260.00
                      .wish_icon_hover.text-center
                        ul
                          li.active
                            a(href='#', data-toggle='tooltip', title='Shopping Cart')
                              img(src='img/trend/shopping_cart.png', alt='cart')
                          li
                            a(href='#', data-toggle='tooltip', title='Like it!')
                              img(src='img/trend/heart.png', alt='')
                          li
                            a(href='#', data-toggle='tooltip', title='Compare')
                              i.fa.fa-bar-chart
                          li
                            a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              img(src='img/trend/eye.png', alt='')
                .col-12
                  .single_trend
                    .single_trend_item
                      .single_trend_img
                        a(href='#')
                          img.primary_image(src='img/trend/trend_chi9.jpg', alt='')
                          img.secondary_image(src='img/trend/trend_chi9.jpg', alt='')
                          span.blue -15%
                      .single_trend_label.text-center
                        a(href='#')
                          h3 Schüttel's
                        h4
                          | ฿190.00 
                          del ฿260.00
                      .wish_icon_hover.text-center
                        ul
                          li.active
                            a(href='#', data-toggle='tooltip', title='Shopping Cart')
                              img(src='img/trend/shopping_cart.png', alt='cart')
                          li
                            a(href='#', data-toggle='tooltip', title='Like it!')
                              img(src='img/trend/heart.png', alt='')
                          li
                            a(href='#', data-toggle='tooltip', title='Compare')
                              i.fa.fa-bar-chart
                          li
                            a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                              img(src='img/trend/eye.png', alt='')
  // trending end
  // featured start
  section.featured_area
    .container
      .row
        .col-12
          .section_title.text-center
            h2 FEATURED GAMES
            img(src='img/section_title.png', alt='')
      .row
        .featured_owl_wrapper
          .col-12
            .single_trend
              .single_trend_item
                .single_trend_img
                  a(href='#')
                    img.primary_image(src='img/trend/trend_stra1.jpg', alt='')
                    img.secondary_image(src='img/trend/trend_stra1.jpg', alt='')
                .single_trend_label.text-center
                  a(href='#')
                    h3 1
                  h4 ฿190.00
                .wish_icon_hover.text-center
                  ul
                    li.active
                      a(href='#', data-toggle='tooltip', title='Shopping Cart')
                        img(src='img/trend/shopping_cart.png', alt='cart')
                    li
                      a(href='#', data-toggle='tooltip', title='Like it!')
                        img(src='img/trend/heart.png', alt='')
                    li
                      a(href='#', data-toggle='tooltip', title='Compare')
                        i.fa.fa-bar-chart
                    li
                      a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                        img(src='img/trend/eye.png', alt='')
          .col-12
            .single_trend
              .single_trend_item
                .single_trend_img
                  a(href='#')
                    img.primary_image(src='img/trend/trend_stra3.jpg', alt='')
                    img.secondary_image(src='img/trend/trend_stra3.jpg', alt='')
                .single_trend_label.text-center
                  a(href='#')
                    h3 2
                  h4 ฿190.00
                .wish_icon_hover.text-center
                  ul
                    li.active
                      a(href='#', data-toggle='tooltip', title='Shopping Cart')
                        img(src='img/trend/shopping_cart.png', alt='cart')
                    li
                      a(href='#', data-toggle='tooltip', title='Like it!')
                        img(src='img/trend/heart.png', alt='')
                    li
                      a(href='#', data-toggle='tooltip', title='Compare')
                        i.fa.fa-bar-chart
                    li
                      a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                        img(src='img/trend/eye.png', alt='')
          .col-12
            .single_trend
              .single_trend_item
                .single_trend_img
                  a(href='#')
                    img.primary_image(src='img/trend/trend_stra5.jpg', alt='')
                    img.secondary_image(src='img/trend/trend_stra5.jpg', alt='')
                .single_trend_label.text-center
                  a(href='#')
                    h3 3
                  h4 ฿190.00
                .wish_icon_hover.text-center
                  ul
                    li.active
                      a(href='#', data-toggle='tooltip', title='Shopping Cart')
                        img(src='img/trend/shopping_cart.png', alt='cart')
                    li
                      a(href='#', data-toggle='tooltip', title='Like it!')
                        img(src='img/trend/heart.png', alt='')
                    li
                      a(href='#', data-toggle='tooltip', title='Compare')
                        i.fa.fa-bar-chart
                    li
                      a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                        img(src='img/trend/eye.png', alt='')
          .col-12
            .single_trend
              .single_trend_item
                .single_trend_img
                  a(href='#')
                    img.primary_image(src='img/trend/trend_par6.jpg', alt='')
                    img.secondary_image(src='img/trend/trend_par6.jpg', alt='')
                .single_trend_label.text-center
                  a(href='#')
                    h3 4
                  h4 ฿190.00
                .wish_icon_hover.text-center
                  ul
                    li.active
                      a(href='#', data-toggle='tooltip', title='Shopping Cart')
                        img(src='img/trend/shopping_cart.png', alt='cart')
                    li
                      a(href='#', data-toggle='tooltip', title='Like it!')
                        img(src='img/trend/heart.png', alt='')
                    li
                      a(href='#', data-toggle='tooltip', title='Compare')
                        i.fa.fa-bar-chart
                    li
                      a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                        img(src='img/trend/eye.png', alt='')
          .col-12
            .single_trend
              .single_trend_item
                .single_trend_img
                  a(href='#')
                    img.primary_image(src='img/trend/trend_par8.jpg', alt='')
                    img.secondary_image(src='img/trend/trend_par8.jpg', alt='')
                .single_trend_label.text-center
                  a(href='#')
                    h3 5
                  h4 ฿190.00
                .wish_icon_hover.text-center
                  ul
                    li.active
                      a(href='#', data-toggle='tooltip', title='Shopping Cart')
                        img(src='img/trend/shopping_cart.png', alt='cart')
                    li
                      a(href='#', data-toggle='tooltip', title='Like it!')
                        img(src='img/trend/heart.png', alt='')
                    li
                      a(href='#', data-toggle='tooltip', title='Compare')
                        i.fa.fa-bar-chart
                    li
                      a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                        img(src='img/trend/eye.png', alt='')
          .col-12
            .single_trend
              .single_trend_item
                .single_trend_img
                  a(href='#')
                    img.primary_image(src='img/trend/trend_the2.jpg', alt='')
                    img.secondary_image(src='img/trend/trend_the2.jpg', alt='')
                .single_trend_label.text-center
                  a(href='#')
                    h3 6
                  h4 ฿190.00
                .wish_icon_hover.text-center
                  ul
                    li.active
                      a(href='#', data-toggle='tooltip', title='Shopping Cart')
                        img(src='img/trend/shopping_cart.png', alt='cart')
                    li
                      a(href='#', data-toggle='tooltip', title='Like it!')
                        img(src='img/trend/heart.png', alt='')
                    li
                      a(href='#', data-toggle='tooltip', title='Compare')
                        i.fa.fa-bar-chart
                    li
                      a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                        img(src='img/trend/eye.png', alt='')
          .col-12
            .single_trend
              .single_trend_item
                .single_trend_img
                  a(href='#')
                    img.primary_image(src='img/trend/trend_the7.jpg', alt='')
                    img.secondary_image(src='img/trend/trend_the7.jpg', alt='')
                .single_trend_label.text-center
                  a(href='#')
                    h3 7
                  h4 ฿190.00
                .wish_icon_hover.text-center
                  ul
                    li.active
                      a(href='#', data-toggle='tooltip', title='Shopping Cart')
                        img(src='img/trend/shopping_cart.png', alt='cart')
                    li
                      a(href='#', data-toggle='tooltip', title='Like it!')
                        img(src='img/trend/heart.png', alt='')
                    li
                      a(href='#', data-toggle='tooltip', title='Compare')
                        i.fa.fa-bar-chart
                    li
                      a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                        img(src='img/trend/eye.png', alt='')
          .col-12
            .single_trend
              .single_trend_item
                .single_trend_img
                  a(href='#')
                    img.primary_image(src='img/trend/trend_fam4.jpg', alt='')
                    img.secondary_image(src='img/trend/trend_fam4.jpg', alt='')
                .single_trend_label.text-center
                  a(href='#')
                    h3 8
                  h4 ฿190.00
                .wish_icon_hover.text-center
                  ul
                    li.active
                      a(href='#', data-toggle='tooltip', title='Shopping Cart')
                        img(src='img/trend/shopping_cart.png', alt='cart')
                    li
                      a(href='#', data-toggle='tooltip', title='Like it!')
                        img(src='img/trend/heart.png', alt='')
                    li
                      a(href='#', data-toggle='tooltip', title='Compare')
                        i.fa.fa-bar-chart
                    li
                      a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                        img(src='img/trend/eye.png', alt='')
          .col-12
            .single_trend
              .single_trend_item
                .single_trend_img
                  a(href='#')
                    img.primary_image(src='img/trend/trend_fam5.jpg', alt='')
                    img.secondary_image(src='img/trend/trend_fam5.jpg', alt='')
                .single_trend_label.text-center
                  a(href='#')
                    h3 9
                  h4 ฿190.00
                .wish_icon_hover.text-center
                  ul
                    li.active
                      a(href='#', data-toggle='tooltip', title='Shopping Cart')
                        img(src='img/trend/shopping_cart.png', alt='cart')
                    li
                      a(href='#', data-toggle='tooltip', title='Like it!')
                        img(src='img/trend/heart.png', alt='')
                    li
                      a(href='#', data-toggle='tooltip', title='Compare')
                        i.fa.fa-bar-chart
                    li
                      a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                        img(src='img/trend/eye.png', alt='')
          .col-12
            .single_trend
              .single_trend_item
                .single_trend_img
                  a(href='#')
                    img.primary_image(src='img/trend/trend_chi9.jpg', alt='')
                    img.secondary_image(src='img/trend/trend_chi9.jpg', alt='')
                .single_trend_label.text-center
                  a(href='#')
                    h3 10
                  h4 ฿190.00
                .wish_icon_hover.text-center
                  ul
                    li.active
                      a(href='#', data-toggle='tooltip', title='Shopping Cart')
                        img(src='img/trend/shopping_cart.png', alt='cart')
                    li
                      a(href='#', data-toggle='tooltip', title='Like it!')
                        img(src='img/trend/heart.png', alt='')
                    li
                      a(href='#', data-toggle='tooltip', title='Compare')
                        i.fa.fa-bar-chart
                    li
                      a.modal-view(href='#', data-toggle='modal', data-target='#productModal')
                        img(src='img/trend/eye.png', alt='')
  // featured end
