doctype html
html.no-js(lang='zxx')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title SixerDev - Board Game Shop 0.1
    // fevicon
    link(rel='shortcut icon', href='img/fa.png')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //
      Favicon
      ============================================
    link(rel='shortcut icon', type='image/x-icon', href='img/favicon.png')
    // CSS
    //
      Fonts CSS
      ============================================
    link(href='https://fonts.googleapis.com/css?family=Raleway:400,300,700,600', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,700,300', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,600,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto:500', rel='stylesheet', type='text/css')
    //
      Bootstrap CSS
      ============================================
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    //
      Nivo slider CSS
      ============================================
    link(rel='stylesheet', href='/lib/custom-slider/css/nivo-slider.css', media='screen')
    link(rel='stylesheet', href='/lib/custom-slider/css/preview.css', media='screen')
    //
      owl.carousel CSS
      ============================================
    link(rel='stylesheet', href='/css/owl.carousel.css')
    //
      owl.theme CSS
      ============================================
    link(rel='stylesheet', href='/css/owl.theme.css')
    //
      owl.transitions CSS
      ============================================
    link(rel='stylesheet', href='/css/owl.transitions.css')
    // lightbox CSS
    link(href='/css/lightbox.css', rel='stylesheet')
    // Jquery Ui CSS
    link(href='/css/jquery-ui.css', rel='stylesheet')
    // Simple Icon CSS
    link(href='/css/simple-line-icons.css', rel='stylesheet')
    //
      bar filler CSS
      ============================================
    link(rel='stylesheet', href='/css/barfiller.css')
    //
      Meanmenu CSS
      ============================================
    link(rel='stylesheet', href='/css/meanmenu.min.css')
    //
      font-awesome.min CSS
      ============================================
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    //
      animate CSS
      ============================================
    link(rel='stylesheet', href='/css/animate.css')
    //
      normalize CSS
      ============================================
    link(rel='stylesheet', href='/css/normalize.css')
    //
      main CSS
      ============================================
    link(rel='stylesheet', href='/css/main.css')
    //
      style CSS
      ============================================
    link(rel='stylesheet', href='/style.css')
    //
      responsive CSS
      ============================================
    link(rel='stylesheet', href='/css/responsive.css')
    script(src='/js/vendor/modernizr-2.8.3.min.js')
  body.home_one
    //if lt IE 8
      p.browserupgrade
        | You are using an 
        strong outdated
        |  browser. Please 
        a(href='http://browsehappy.com/') upgrade your browser
        |  to improve your experience.
    // Add your site or application content here
    // header start
    header.header
      #sticker
        .container
          .row
            .col-lg-3.col-md-9
              .logo
                a(href='/')
                  img(src='/img/logo web v1.png', alt='HUGE', height='50%', width='50%')
            .col-lg-7.col-md-7.d-none.d-lg-block
              .mainmenu.nav.navbar-collapse.collapse.navbar-right
                nav
                  ul#nav.navbar-nav
                    li.active
                      a(href='/') home
                    li
                      a(href='') games
                      ul.sub-menu
                        li
                          a(href='') Strategy
                        li
                          a(href='') Party
                        li
                          a(href='') Thematic
                        li
                          a(href='') Family
                        li
                          a(href='') Children
                        li
                          a(href='') All Games
                    li
                      a(href='') accessories
                      ul.sub-menu
                        li
                          a(href='') Dice Bags
                        li
                          a(href='') Dice Sets
                        li
                          a(href='') Playmats
                        li
                          a(href='') All Accessories
                    li
                      a(href='') sales
                    li
                      a(href='') about
                    li
                      a(href='') contact
            .col-lg-2.col-md-3
              .search_cart_sub_menu.text-right
                ul
                  li.drop.active.mini_bar
                    a(href='#')
                      i.fa.fa-bars
                    ul.sub-menu
                      if user
                        li
                          a #{user.name}
                        if user.isAdmin
                          li
                            a(href="/product/add") Admin area
                        else
                          
                          li
                            a(href='/wishlist') Wishlist
                          li
                            a(href='/cart') Shopping Cart
                        li
                          a(href='/account/logout') Logout
                      else
                        
                        li
                          a(href='/account/login') Login
                        li
                          a(href='/account/register') Register
                  li.header_cart
                    .cart-total
                      ul
                        li
                          .shopping-cart
                            a(href='/cart')
                              img(src='/img/header_cart.png', alt='shopping_cart')
                              p 3
                          .mini-cart-content
                            .cart-img-details
                              .cart-img-photo
                                a(href='')
                                  img(src='/img/trend/trend_stra1.jpg', alt='accessories')
                              .cart-img-contaent
                                a(href='#')
                                  h4 kk
                                span 1 x ฿333.00
                              .pro-del
                                a(href='#')
                                  i.fa.fa-times-circle
                            .clear
                            .cart-img-details
                              .cart-img-photo
                                a(href='#')
                                  img(src='/img/trend/trend_stra2.jpg', alt='accessories')
                              .cart-img-contaent
                                a(href='#')
                                  h4 kkk
                                span 1 x ฿155.00
                              .pro-del
                                a(href='#')
                                  i.fa.fa-times-circle
                            .cart-img-details
                              .cart-img-photo
                                a(href='#')
                                  img(src='/img/trend/trend_stra3.jpg', alt='accessories')
                              .cart-img-contaent
                                a(href='#')
                                  h4 kkkk
                                span 1 x ฿250.00
                              .pro-del
                                a(href='#')
                                  i.fa.fa-times-circle
                            .cart-inner-bottom
                              h5.total Subtotal:.00
                  li.search_menu
                    img#toggle-search(src='/img/header_search.png', alt='search')
        .search
          .container
            .row
              .col-lg-6.col-md-6.offset-md-6
                .search-form
                  form#search-form(action='#')
                    input(type='search', placeholder='Search product...', name='s')
                    input.fa.fa-search(type='submit', value='')


                  
        // Mobile Menu Area start
        .mobile-menu-area
          .container
            .row
              .col-lg-12.col-md-12.col-sm-12
                .mobile-menu
                  nav#dropdown
                    ul
                      li
                        a(href='/') HOME
                      li
                        a(href='') GAMES
                        ul
                          li
                            a(href='') Strategy
                          li
                            a(href='') party
                          li
                            a(href='') Thematic
                          li
                            a(href='') Family
                          li
                            a(href='') Children
                          li
                            a(href='') All Games
                      li
                        a(href='') ACCESSORIES
                        ul
                          li
                            a(href='') Dice Bags
                          li
                            a(href='') Dice Sets
                          li
                            a(href='') Playmats
                          li
                            a(href='') All Accessories
                      li
                        a(href='') SALES
                      li
                        a(href='') ABOUT
                      li.contact
                        a(href='') CONTACT
        // Mobile Menu Area end
    // header end
    block content
    // footer start
    footer.footer_area
      .footer_top_area.text-center
        .container
          .row
            .col-12
              .logo
                a(href='index.html')
                  img(src='/img/logo web v1.png', alt='logo', height='10%', width='10%')
                p
                img.devider(src='/img/footer_devider.png', alt='')
          .row
            .col-lg-4.col-md-4
              .single_contact
                a(href='#')
                  i.fa.fa-phone
                p 012-345-6789
            .col-lg-4.col-md-4
              .single_contact
                a(href='#')
                  i.fa.fa-map-marker
                p
                  | 2033 Phahonyothin Alley, Khwaeng Lat Yao, Khet Chatuchak, Krung Thep Maha Nakhon 10900.
            .col-lg-4.col-md-4
              .single_contact
                a(href='#')
                  i.fa.fa-envelope-o
                a(href='#')
                  p kk@kk.com
      .footer_middle_area
        .container
          .row
            .col-lg-3.col-md-6.col-sm-6
              .footer_widget
                h4 company
                ul.footer_menu
                  li
                    a(href='#') about us
                  li
                    a(href='#') terms & conditions
                  li
                    a(href='#') contact us
            .col-lg-3.col-md-6.col-sm-6
              .footer_widget
                h4 customer service
                ul.footer_menu
                  li
                    a(href='#') help & faq
                  li
                    a(href='#') shipping & policies
                  li
                    a(href='#') store locations
            .col-lg-2.col-md-6.col-sm-6
              .footer_widget
                h4 my account
                ul.footer_menu
                  li
                    a(href='#') my orders
                  li
                    a(href='#') my personal info
      .footer_bottom_area
        .container
          .row
            .col-md-6
              .copyright
                p
                  | Copyright ©2018 
                  a(href='#')
                    span  SixerDev
                  | . All right Reserved
            .col-md-6
              .payment
                a(href='#')
                  img(src='/img/footer_payment_color.png', alt='payment')
    // footer end
    // QUICKVIEW PRODUCT
    #quickview-wrapper
      // Modal
      #productModal.modal.fade(tabindex='-1', role='dialog')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body
              .modal-product
                .product-images
                  .main-image.images
                    img(alt='', src='/img/13.jpg')
                // .product-images
                .product-info
                  h1 Testtesttest
                  .price-box
                    p.price
                      span.special-price
                        span.amount ฿132.00
                  a.see-all(href='') See all features
                  .quick-add-to-cart
                    form.cart(method='post')
                      .numbers-row
                        input#french-hens(type='number', value='3')
                      button.single_add_to_cart_button(type='submit') Add to cart
                  .quick-desc
                    | kkkkkkk kkkkk, sggfdgsbdbxhdhhhdz.
                  .social-sharing
                    .widget.widget_socialsharing_widget
                      h3.widget-title-modal Share this product
                      ul.social-icons
                        li
                          a.facebook.social-icon(target='_blank', title='Facebook', href='#')
                            i.fa.fa-facebook
                        li
                          a.twitter.social-icon(target='_blank', title='Twitter', href='#')
                            i.fa.fa-twitter
                        li
                          a.pinterest.social-icon(target='_blank', title='Pinterest', href='#')
                            i.fa.fa-pinterest
                        li
                          a.gplus.social-icon(target='_blank', title='Google +', href='#')
                            i.fa.fa-google-plus
                        li
                          a.linkedin.social-icon(target='_blank', title='LinkedIn', href='#')
                            i.fa.fa-linkedin
                // .product-info
                // .modal-product
                // .modal-body
                // .modal-content
                // .modal-dialog
                // END Modal
                // END QUICKVIEW PRODUCT
                // JS
                //
                  jquery-1.11.3.min js
                  ============================================
                script(src='/js/vendor/jquery-1.12.4.min.js')
                //
                  bootstrap js
                  ============================================
                script(src='/js/popper.min.js')
                script(src='/js/bootstrap.min.js')
                //
                  owl.carousel.min js
                  ============================================
                script(src='/js/owl.carousel.min.js')
                //
                  lightbox js
                  ============================================
                script(src='/js/lightbox.js')
                //
                  mixitup js
                  ============================================
                script(src='/js/jquery.mixitup.js')
                // Price Slider JS
                script(src='/js/price-slider.js')
                //
                  bar filler js
                  ============================================
                script(src='/js/jquery.barfiller.js')
                //
                  Scroll Up js
                  ============================================
                script(src='/js/jquery.scrollUp.min.js')
                //
                  Elevate Zoom js
                  ============================================
                script(src='/js/jquery.elevatezoom.js')
                //
                  Meanmenu js
                  ============================================
                script(src='/js/meanmenu.js')
                //
                  wow js
                  ============================================
                script(src='/js/wow.js')
                //
                  plugins js
                  ============================================
                script(src='/js/plugins.js')
                //
                  Nevo Slider js
                  ============================================
                script(src='/lib/custom-slider/js/jquery.nivo.slider.js')
                script(src='/lib/custom-slider/home.js')
                //
                  main js
                  ============================================
                script(src='/js/main.js')
