extends layout

block content
  // banner start
  .blog_banner_area
    .container
      .row
        .col-12
          .page_title
            h2 Login
  // banner end
  
  // login start
  .register_area
    .container
      .row
        .col-md-3.col-sm-12
        .col-md-6.col-sm-12
          .register_customer
            h2.register_heading Registered Customer
            form(method='POST', action='/account/login')
              p
                | Email Address
                span  * 
                br
                input(name='email', type='text')
              p
                | Password
                span  * 
                br
                input(name='password', type='password')
              
                //- <div class="row">
                //- <p class="col-sm-6 col-xs-12">
                //- <input type="checkbox">Remember Me
                //- </p>
                //- <p class="col-sm-6 col-xs-12">
                //- <a href="#">Forgot your Password?</a>
                //- </p>
                //- </div>
                
              input(type='submit', value='LOGIN')
  // login end
