extends layout

block content
  // banner start
.blog_banner_area
  .container
    .row
      .col-12
        .page_title
          h2 Order History
// banner end
// order start
.register_area
  .container
    .row
      .col-md-6.col-sm-12
        .customer_order
          h2.register_heading Order History
          table.table_cart.table-bordered
            tbody
              tr
                th.product Order
                th.product Day
                th.product Item
                th.product Price
                th.product Status
              tr
                th.description 1
                td.description
                  span 1/1/2018
                td.description
                  span Rising Sun
                td.description
                  span 2000
                td.description
                  span Received
          a.shopping(href='account_set.html') BACK
// order end
