extends layout

block content
  // banner start
  .blog_banner_area
    .container
      .row
        .col-12
          .page_title
            h2 Admin Register
  // banner end
  
  // register start
  .register_area
    .container
      .row
        .col-md-3.col-sm-12
        .col-md-6.col-sm-12
          .register_customer
            h2.register_heading Create a new admin account
            form(method='POST', action='/account/register/secretAdmin3103')
              p
                | Name
                span  * 
                br
                input(name='name', type='text')
              p
                | Username
                span  * 
                br
                input(name='username', type='text')
              p
                | Email
                span  * 
                br
                input(name='email', type='text')
                
              p
                | Password
                span  * 
                br
                input(name='password', type='password')
              p
                | Re-Password
                span  * 
                br
                input(name='password2', type='password')
              p
                | Address
                span  * 
                br
                input(name='address', type='text')
              p
                | District
                span  * 
                br
                input(name='address2', type='text')
              p
                | Province
                span  * 
                br
                input(name='address3', type='text')
              p
                | Postal Code
                span  * 
                br
                input(name='address4', type='text', pattern='[0-9]{5}')
              p
                | Country
                span  * 
                br
                input(name='address5', type='text', value="Thailand", DISABLED)
              p
                | Telephone Number
                span  * 
                br
                input(name='tel_num', type='tel', pattern='[0-9]')
              p
                | What is your secret?
                span  * 
                br
                input(name='secret', type='text', autocomplete='off')
              input(type='submit', value='REGISTER')
  // register end
